@font-face {
    font-family: "GT Pressura Light";
    src: url("https://static1.squarespace.com/static/66292bac059486240b92a5c0/t/66ed9d6aa4820b5d2e612ec2/1726848362688/GT-Pressura-Standard-Light.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
