@font-face {
  font-family: "Saans Medium";
  src: url("https://raw.githubusercontent.com/graykwise/revel/main/SaansMedium.woff"), format("woff");
}

@font-face {
  font-family: "GT Pressura Light";
  src: url("https://raw.githubusercontent.com/graykwise/revel/main/GT-Pressura-Standard-Light.woff"), format("woff");
}

h1 {
  font-family: "Saans Medium";
  text-transform: uppercase; 
}

p {
  font-family: "GT Pressura Light";
  text-transform: uppercase;
}
