@font-face {
    font-family: "Saans Medium";
    src: url("https://static1.squarespace.com/static/66292bac059486240b92a5c0/t/66ed9d6e720e0358ef7ba6fa/1726848366835/SaansMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}